<app-carousel></app-carousel>

<!-- <div>{{ kuup2ev | date }}</div>
<div>{{ kuup2ev | date:"dd.MM.yyyy HH:mm" }}</div>
<div>{{ numbriline | percent }}</div>
<div>{{ suuremNUmber | percent }}</div>
<div>{{ numbriline | currency }}</div>
<div>{{ suuremNUmber | currency:"CH" }}</div> -->

<div>
  <div (click)="onSelectCategory('all')">Kõik kategooriad</div>
  <div *ngFor="let category of categories" (click)="onSelectCategory(category)">{{category}}</div>  
</div>

<app-sort-buttons [products]="products"></app-sort-buttons>

<div *ngFor="let prod of products">
  <app-product-card 
    *ngIf="prod.isActive || isLoggedIn" 
    [product]="prod"
    [loggedIn]="isLoggedIn"
    ></app-product-card>
</div>