.map-container {
  position: absolute;
  top: 120px;
  left: 0;
  right: 150px;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.nupud {
  position: absolute;
  top: 150px;
  right: 30px;
}