<input [(ngModel)]="searchedProduct" (keyup)="onSearchProducts()" type="text">
<br>
<input type="range" min="0" max="50" [(ngModel)]="descriptionWords">
<br><br>

<div *ngFor="let product of products" [ngClass]="{active: product.isActive, inactive: !product.isActive}">
  <div class="product" (click)="changeActive(product)">
    <div>{{ product.id }}</div>
    <div>{{ product.name }}</div>
    <div>{{ product.price | productPrice }}</div>
    <div>{{ product.description | wordCount:descriptionWords }}</div>
    <div>{{ product.category }}</div>
    <img src="{{ product.imgSrc }}" alt="">
  </div>
  <div>
    <button (click)="onDeleteProduct(product)">{{"admin.delete-button" | translate}}</button>
    <button routerLink="/admin/muuda-toode/{{product.id}}">{{"admin.edit-button" | translate}}</button>
  </div>
</div>

<lib-toastify-toast-container></lib-toastify-toast-container>

<!-- .ts -> .html  annan muutujaid ja nende väärtusi
  {{ }}    ngFor massiiv     []

  .html -> .ts     saadan funktsioonide abil ()   click-klahvivajutus
-->
