<div class="cart-item" *ngFor="let product of products">
  <div class="cart-item-name">{{ product.cartProduct.name }} </div>
  <div class="cart-item-price">{{ product.cartProduct.price | productPrice }}</div>
  <div>
    <img class="cart-item-button" src="assets/minus.png" (click)="onDecreaseQuantity(product)">
    <span class="cart-item-quantity">{{ product.quantity }} tk</span>
    <img class="cart-item-button" src="assets/plus.png" (click)="onIncreaseQuantity(product)">
  </div>
  <div class="cart-item-total">
    {{ product.cartProduct.price * product.quantity | productPrice }}
  </div>
  <img class="cart-item-delete" src="assets/trash-can.png" (click)="onRemoveFromCart(product)" />
</div>

<div *ngIf="products.length === 0">Ostukorv on tühi</div>

<button (click)="onPay()">MAKSMA</button>

<app-parcel-machine *ngIf="products.length > 0"></app-parcel-machine>