<p>avaleht works!</p>

<div *ngIf="kahendV22rtus">{{ s6nalineMuutuja + 321 }}</div>
<div *ngIf="kahendV22rtusKaks">{{ numbrilineMuutuja + 321 }}</div>

<div *ngFor="let toode of tooted">
  <div *ngIf="toode.aktiivne">
    <div routerLink="/toode/{{toode.nimi.toLowerCase().replace(' ', '-')}}">
      <div>{{ toode.nimi }}</div>
      <div>{{ toode.hind }}</div>
      <div>{{ toode.aktiivne }}</div>
    </div>
    <button class="btn btn-primary" (click)="onLisaOstukorvi(toode)">Lisa ostukorvi</button>
    <br><br>
  </div>
</div>